/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    }

    #wrapper {
        background-color: silver;
        height: 475px;
        width: 750px;
        padding: 10px;
        margin: 0px auto;
        display: block;
    }

    #header {
        min-height: 110px;
        min-width: 710px;
        padding: 10px;
        background-color: green;
        margin: 10px;
        display: block;
    }

    #navigation {
        min-height: 230px;
        width: 25%;
        padding: 10px;
        background-color: blue;
        margin: 10px;
        display: block;
    }

    #main_content {
        min-height: 200px;
        width: 50%;
        padding: 10px;
        background-color: red;
        display: block;
    }

    .subcontents {
        min-height: 200px;
        padding: 10px;
        background-color: yellow;
    }

    #advertisement {
        min-height: 120px;
        padding: 10px;
        background-color: purple;
    }